.long-card{
    display: flex;
    align-items: flex-start;
    height: 200px;
    width: 750px;
}

.long-card-img{
    border-radius: 8px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);;
}

.lc-center-horizontally-user{
    display: flex;
    align-items: center;
    margin-bottom: -16px;
}

.lc-center-horizontally-reactions{
    display: flex;
    align-items: center;
    margin-top: -10px;
}

.lc-text-section{
    padding-left: 1rem;
}

.lc-tag{
    background: #F4F7FC;
    border-radius: 4px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.65);
    margin-right: 12px;
    outline: none;
    border: none;
    padding: 8px 12px;
}

.lc-user-icon{
    border-radius: 50%;
    height: 18px;
    margin-right: 5px;
}

.lc-reactions{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    opacity: 80%;
    line-height: 20px;
    color: black;
    color: rgba(0, 0, 0, 0.75);
}

.lc-username{
    margin-right: 10px;
}

.lc-username-text{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.7);
}

.vertical-line{
    height: 22px;
    width: 0.8px;
    background-color: black;
    margin: 0 12px;
}

.lc-title{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
    
}

.lc-description{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.65);
    width: 80%;
    margin-top: -12px;
}

.lc-views{
    width: 12px;
    height: auto;
    margin-right: 5px;
}

.lc-likes{
    width: 14px;
    height: auto;
    margin-right: 5px;
}